.header {
    background-color: darkred;
    color: lightcyan;
}

*{
    text-decoration: none;
}

.maindiv{
    width: 70vw;
    height: 10vh;
    background-color: rgb(49, 104, 156);
    margin: auto;
}



.row{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li{
        color: white;
        font-size: 2rem;
     list-style: none;
     a{
        color: white;
     }
    }
}