<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>




    <div style="border: 1px solid black; width: 50vw; margin: auto; ">

        <form action="/stunentDet" method="POST" style="display: flex; flex-direction: column; gap:2rem; margin-top: 3rem;" >
            <div style="display: flex;  justify-content: space-evenly; flex-direction: row;">
                <div>
                    <label for="fullName">Full Name:</label>
                    <input type="text" name="name" placeholder="Full Name">
                </div>
                <div> <label for="email">Email ID:</label>
                    <input type="text" name="email" placeholder="Email Id">
                </div>
            </div>
            <div style="display: flex;  justify-content: space-evenly; flex-direction: row; ">
                <div>
                    <label for="studentCon">Student Contact:</label>
                    <input type="number" name="studentCon" placeholder="Students Contact">
                </div>
                <div>
                    <label for="parentCon">Parents content:</label>
                    <input type="number" name="parentCon" placeholder="Parents Contact">
                </div>

            </div>

            <div style="display: flex;  justify-content: space-evenly; flex-direction: row;">
                <div>
                    <label for="address">address:</label>
                    <textarea name="address" id="address" placeholder="parmanents Address"></textarea>
                </div>
                <div>
                    <label for="date"> Date of Birth:</label>
                    <input type="date" id="date" name="date" placeholder="Date of Birth">
                </div>



            </div>
            <div style="display: flex; flex-direction: row; margin: auto;">
              
                <label for="male">male:</label>
                <input type="checkbox" name="male" id="male">
                <label for="female">female:</label>
                <input type="checkbox" name="female" id="female">
            </div>
            <div style="text-align: center;">  <button type="submit">submit</button></div>
          


        </form>
    </div>
</body>

</html>