<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>

    <link rel="stylesheet" href="../../css/header.css">
    
    <script src="../../main.js"></script>
</head>
<body>


    <div class="maindiv">
        <ul class="row">
     
            <li> <a href="/">products</a></li>
            <li> <a href="/add-product">New products</a></li>
            <% if(locals.userEmail){%>
                <li><a href="./logout">Logout</a></li>
            <%}%>
         

            <li> <a href="/register">register</a></li>

            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    
    <div class="container">
        <%- body %>
    </div>

    
</body>
</html>